*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #eef0f1;
}
#logo{
    height: 150px;
    width: 150px;
}
nav{
    margin-top: 70px;
}
nav a{
    padding:5px 15px ;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:25px;
}
#achat{
    height: 30px;
    width: 30px;
    margin-top: 70px;

}
nav a:hover{
    border-bottom: 2px solid black;
}