*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.725);
}
#logo{
    height: 150px;
    width: 150px;
}
nav{
    margin-top: 70px;
}
nav a{
    padding:5px 15px ;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
}
header img{
    height: 30px;
    width: 30px;
}
nav a:hover{
    border-bottom: 2px solid black;
}